/backend_estudiante_curso/nbproject/private/
/server_estudiante_curso/nbproject/private/
/backend_estudiante_curso/build/
/backend_estudiante_curso/dist/
/server_estudiante_curso/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/